<mat-expansion-panel class="meetup-card">
<mat-expansion-panel-header>
    <div class="meetup-card__top">
        <div class="meetup-card__header">
            <h3 class="meetup-card__name">{{newMeetup.name}}</h3>
            <p class="meetup-card__count-of-follower">{{newMeetup.users.length}} {{subs}}</p>
        </div>
        <div class="meetup-card__time-location time-location">
            <p class="data-place__time">{{newMeetup.time}}</p>
            <p class="data-place__location">{{newMeetup.location}}</p>
        </div>
    </div>
    <p class="meetup-card__description">{{newMeetup.description}}</p>
    <div class="meetup-owner">
        <img class="meetup-owner__img" src="../../../assets/images/small-mdi_person.svg" alt="">
        <p>{{newMeetup.owner.fio}}</p>
    </div>
    <div class="meetup-card__btns">
        <button mat-raised-button *ngIf="!isSubscriber" class="meetup-card__btn meetup-card__btn_subscr" (click)="subscr()">Я пойду!</button>
        <button mat-raised-button *ngIf="isSubscriber" class="meetup-card__btn meetup-card__btn_unsubscr" (click)="unSubscr()">Не смогу пойти</button>
        <button mat-raised-button class="meetup-card__btn meetup-card__btn_edit" (click)="change()">Редактировать</button>
    </div>
</mat-expansion-panel-header>
        <div class="ifMeetupOpened">
            <div class="meetup-card__target-group target-group">
                <h4 class="target-group__title">Целевая аудитория</h4>
                <p class="target-group__description">{{newMeetup.target_audience}}</p>
            </div>
            <div class="meetup-card__need-to-know need-to-know">
                <h4 class="need-to-know__title">Что нужно знать</h4>
                <p class="need-to-know__description">{{newMeetup.need_to_know}}</p>
            </div>
            <div class="meetup-card__meetup-plan meetup-plan">
                <h4 class="meetup-plan__title">Что будет</h4>
                <p class="meetup-plan__description">{{newMeetup.will_happen}}</p>
            </div>
            <div class="meetup-card__necessity necessity">
                <h4 class="necessity__title">Почему надо обязательно прийти</h4>
                <p class="necessity__description">{{newMeetup.reason_to_come}}</p>
            </div>
        </div>
</mat-expansion-panel>