<header>
    <div class="header-wrap">
        <mat-tab-group animationDuration="0ms">
            <mat-tab label="Митапы"></mat-tab>
            <mat-tab  routerLink="/users" label="Мои митапы"></mat-tab>
            <mat-tab *ngIf="authService.isAdmin" routerLink="/users" label="Пользователи"></mat-tab>
        </mat-tab-group>
        <button (click)="authService.logout()">
            <img class="img" src="../../../assets/images/logout-icon.svg" alt="Выйти">
        </button>
    </div>
</header>
