header{
    max-height: 120px;
    height: 100%;
    width: 100%;
    text-align: center;
}
button {
    border: none; 
    outline: none;
    background-color: #fff;
}
.img {
    
    max-width: 48px;
    width: 100%;
}
a {
    text-decoration: none;
    margin-right: 15px;
}