$accentColor: #B85526;
$defaulColor: #2C2C2C;
$secondaryColor: #4C3F78;


.auth-page-form {
	position: fixed;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    padding: 0px 33px 24px;
    text-align: center;
    max-width: 400px;
    width: 100%;
}

.auth-page-form__title {
    color: $accentColor;
    font-size: 33px;
    padding: 27px;
}

.error{
    margin: 10px;
}

.how-to-create {
    margin: 10px;
}

.inputs-wrapper {
    text-align: center;
    max-width: 300px;
    width: 100%;
}

.input-wrapper {
    color: #ffff;
    background: $defaulColor !important;
    background-color: $defaulColor !important;
    padding: 8px;
    margin: 12px;
    text-align: center;
    max-width: 300px;
    width: 100%;
    border-radius: 4px;
}

.meetups-button {
    color:#ffff;
    background: $secondaryColor;
    font-size: 18px;
}