<div class="auth-page-form">
<div class="auth-page-form__title">Авторизация</div>
<form [formGroup]="myFirstReactiveForm" (submit)="onSubmit()">
  <div class="inputs-wrapper">
    <div class="input-wrapper">
      <input type="email" id="email" formControlName="email" placeholder="email"/>
    </div>
    <div class="input-wrapper">
      <input type="password" id="password" formControlName="password" placeholder="password"/>
    </div>
  </div>
  <div class="error"
	 *ngIf="myFirstReactiveForm.get('password')?.getError('invalidPassword') && myFirstReactiveForm.get('password')?.touched">
	 {{myFirstReactiveForm.get('password')?.getError('invalidPassword')}}
</div>
  <div class="how-to-create">Как создать аккаунт?</div>
  <button mat-raised-button class="meetups-button" type="submit" >Войти</button>
</form>
</div>