<div class="modal-sign-up__button">
<div class="auth-page__title">Авторизация</div>
<form [formGroup]="myFirstReactiveForm" (submit)="onSubmit()">
  <input type="email" id="email" formControlName="email" placeholder="email"/>
  <br>
  <input type="password" id="password" formControlName="password" placeholder="password"/>
  <div class="error"
	 *ngIf="myFirstReactiveForm.get('password')?.getError('invalidPassword') && myFirstReactiveForm.get('password')?.touched">
	 {{myFirstReactiveForm.get('password')?.getError('invalidPassword')}}
</div>
  <div class="">How to create account?</div>
  <button class="meetups-button" type="submit" >Log In</button>
</form>
</div>