input.ng-touched.ng-invalid{
	border-color: red;
}



.modal-sign-up__button {
	position: fixed;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    width: 477px;
    max-width: 100%;
    padding: 55px 25px 35px;
    z-index: 6;
    max-width: 350px;
    text-align: center;
    width: 100%;
    padding-top: 12px;
    padding-bottom: 12px;
    margin-bottom: 16px;
    text-align: center;
border-radius: 6px;
}