<table class="user-card">
    <tbody id="user-card__table-body">
        <tr>
            <td>{{newUserCard.email}}</td>
            <td>*************</td>
            <td>{{newUserCard.roles[0].name}}
            </td>
            <td><img src="" alt=""></td>
            <td><img src="" alt=""></td>
        </tr>
    </tbody>
    <!--ряды с ячейками тела таблицы-->
</table>
<button class="user-card__delete"><img src="" alt=""></button>
<button class="user-card__update"><img src="" alt=""></button>
