<table class="user-card">
    <tbody id="user-card__table-body">
        <tr>
            <td>{{newUserCard.email}}</td>
            <td>*************</td>
            <td>{{newUserCard.roles[0].name}}
            </td>
            <td><button class="user-card__delete" (click)="change()"><img src="../../../assets/images/close-user.svg" alt=""></button></td>
            <td><button class="user-card__update"><img src="../../../assets/images/edit-user.svg" alt=""></button></td>
        </tr>
    </tbody>
    <!--ряды с ячейками тела таблицы-->
</table>


