/*Обнуление*/
*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul ol, ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}
/*--------------------*/

$defaulColor: #2C2C2C;
$secondaryColor: #4C3F78;
$infoColor: #008697;
$primaryColor: #B4B4C0;
$accentColor: #B85526;
$backgroundColor: #1E1E1E;
$boldColor: #E9E9E9;

html, body { height: 100%; }
body { font-family: Roboto, "Helvetica Neue", sans-serif;  overflow: scroll;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  background-color: $backgroundColor;
  color: $boldColor;
}

h1{
  font-style: normal;
font-weight: 700;
font-size: 56px;
line-height: 76px
}

app-meetups {
  display: block;
  margin-left: auto;
  margin-right: auto 
}

.mat-tab-links {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  margin: 0 41px;
}

.ng-star-inserted {
  justify-content: center;
}


.mat-expansion-panel-body {
  font-size: 18px;
}

.mat-expansion-indicator {
  color: #FFFFFF;
}

.mat-expansion-panel-header-description, .mat-expansion-indicator::after {
  color: #FFFFFF;
}

input {
  background: $defaulColor !important;
  color: #FFFFFF !important;
}

input:-internal-autofill-selected {
  background-image: none !important;
  background: $defaulColor;
  background-color: $defaulColor !important;
  color: #FFFFFF !important;
}

.meetup-card {
  max-width: 1362px;
  min-height: 162px;
  width: 100%;
  text-align: left;
}

mat-expansion-panel-header{
  min-height: 162px;
}

mat-content{
  display: block;
}

.meetup-card__header{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.mat-expansion-panel {
  background: #2C2C2C; 
  color: #FFFFFF;
}
h3 {
  font-size: 24px;
}
h4 {
  font-size: 20px;
}

.meetup-card__name{
  padding: 14px;
}

.meetup-owner{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  max-width: 200px;
  width: 100%;
}

.meetup-owner__img{ 
  max-width: 25px;
  width: 100%;
  margin-right: 10px;
}

.meetup-card__time-location {
  display: block;
  max-width: 200px;
  text-align: left;
}

.meetup-card__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.meetup-card__btn {
  max-width: 160px;
  width: 100%;
}
.meetup-card__btn_subscr {
  color: #FFFFFF;
  background: $secondaryColor;
  margin: 8px;
}

.meetup-card__btn_unsubscr {
  color: $secondaryColor;
  background: #B4B4C0;
}

.meetup-card__btn_edit {
  color: #FFFFFF;
  background: $accentColor;
}

.meetup-card__btns {
text-align: center;   
}

ul {
  list-style: none;
  display: flex;
  max-width: 1362px;
  width: 100%;
}


